
/* Work sans font from google fonts */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


  /* Shared styles */
  *{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }

  .btn-primary{
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;


  }

  .text-light-gray{
    color: #727272;
    
  }

  /* Header styles */

  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-title{
    font-size: 2.8rem;
  }

  nav> ul{
    display: flex;
    font-weight: 700;
    color: #131313;

  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    
  }

  nav li a{
    text-decoration: none;
    color:  #424242;
  }

  /* Banner styles */

  .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
  }

  

  .banner img{
    margin-top: 20px;
    width: 100%;
  }


  

  /* Main section */

  /* Teams section start */

  main{
    max-width: 1440px;
    margin: 50px auto;
  }

  /* Teams styles */
  .teams-containers{
    display: flex;
    align-items: center;
  }

  .teams-img-containers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .teams-content{
    padding-left: 70px;
    padding-right: 70px;
  }

  .teams-title{
    font-size: 2.8rem;
  }

  .quick-list{
    font-weight: 500;
  }

  .text-features{
    color: #FF900E;
    font-weight: 700;
  }



  /* Responsive media quaries */
/* Mobile device */
@media screen and (max-width: 576px) {

    header{
        padding: 20px;
    }

    nav , .teams-containers{
        flex-direction: column;
    } 

    .teams-img-containers{
        grid-template-columns: 1fr;
    }

    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
      }
  }

  /* Tablet/mediam devices */

  @media screen and (min-width: 576px) and (max-width: 960px) {

    header{
        padding: 50px;
    }

    nav , .teams-containers{
        flex-direction: column;
    } 
    
  }
